@media only screen and (min-width: 52em) {

    header, footer{
        background-color: var(--main);
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    #hero {
        height: 300px;
    }

    header, footer {
        padding-left: 100px;
    }

    main {

        margin-left: 10em;
        margin-right: 10em;
        padding: 0 10px;
    }

    nav {
        padding-right: 50px;
    }

    .content {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 10px
    }

    #heroImage{
        max-height: 300px;
        width: 100%;
        object-fit: cover;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .businesses {
        padding: 0px;
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive grid */
        gap: 20px; /* Space between items */
        margin: 0 auto; /* Center-align content */
        box-sizing: border-box; /* Ensure padding fits within width */
    }
        .business {
        width: 100%; 
        max-width: 100%;
        word-wrap: break-word; 
    }
    .hide-on-small {
        display: block;
    }

    .hide-on-large {
        display: none;
    }

    #darkModeButton {
        color: #000;
        font-size: 1.5em;
    }

    .menu-links {
        display: flex;
        align-items:end;
        justify-content: end;
    }

    .menu-links li {
        padding: 0;
        height: 100%; /* Make li fill the height of the grid cell */

    }
    .menu-links li a {
        height: 100%; /* Make li fill the height of the grid cell */
        width: 100%;
        padding: 15px;
        display: inline;
    }
}